# Configuração do Banco de Dados MongoDB
# Substitua pela URL da sua conexão MongoDB
DB_URL=mongodb://localhost:27017

# Para usar MongoDB Atlas (na nuvem):
# DB_URL=mongodb+srv://username:password@cluster0.mongodb.net/?retryWrites=true&w=majority
